.nav-text{
    font-weight: 700;
}

.card:hover{
    border: 1px solid black;
}

nav ul li a:hover{
    background-color: burlywood;
    border-radius: 5px;
}


footer{
    background-color: rgb(248, 234, 216);
}
.icon{
    font-size: 70px;
    
    
}
.icon a:hover{
    background-color:rgb(244, 169, 141);
    border-radius: 25px;
    

}
.icon-media{
    font-size: 50px;
    
}
.link-footer a{
    display: block;
    text-decoration: none;
    color: black;
    margin: 15px;
    font-size: 20px;

}
.link-footer a:hover{
    color:coral;
    text-decoration: underline;
}

.down{
    background-color: rgb(43, 139, 117);
}
.sticky-top {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1020; 

}

.custom-navbar {
    background-color: white;
    border-radius: 15px;
}

.bell{
    font-size: 20px;
}